.photo {
    height: 200px;
    width: 200px;
    display: block;
    margin: auto;
    margin-top: 50px;
}
.cv {
    text-align: center;
    margin: auto;
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
nav {
    position: sticky;
}
.about {
    background-color: white;
    color: black;
}
.contact {
    background-color: white;
    color: black;
    text-align: center;

}
.bar {
    margin-left: auto;
}
